
body {
  padding-top: 56px;
}

.logo{
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: space-between;

}
.logo img{
  width: 100%;
  height:auto;
}
.title{
  margin: 0 auto;
}
nav{
  padding-bottom: 20px;
}
.card{
  margin: 5px ;
}
